
//body
$bg-body-chiaro: hsla(225, 3%, 72%, 0.8);
$bg-body-scuro: hsla(180, 1%, 28%, 0.9);
$c-scritta: rgb(0, 255, 30);
$shadow-scritta: rgba(0, 0, 0, 0.5);
$testoNero: #222;
$bg-form: rgb(40, 174, 40);
$errore: red;

//navbar
$bg-nav-1div: hsla(213, 7%, 76%, 0.8);
$bg-button-nav: hsla(213, 7%, 76%, 0.1);
$navbar-bg: #fff;
$navbar-color: #101010;
$navbar-shadow: rgba(0, 0, 0, 0.1);
$navbar-hover: #007BFF;

//footer
$bg_footer:  #333;
$c_footer: #ccc;

